* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    height: 200vh;
    width: 100%;
    margin: 0 auto;
    padding: 5%;
}

.landing-index {
    height: 75vh;
    padding: 5%;
    margin-top: 3%;
    background-color: white;
    border-radius: 1em;
}

.landing-services {
    height: 75vh;
    padding: 5%;
    margin-top: 3%;
    background-color: white;
    border-radius: 1em;
}

.landing-about {
    height: 75vh;
    padding: 5%;
    margin-top: 3%;
    background-color: white;
    border-radius: 1em;
}

.landing-contact {
    height: 75vh;
    padding: 5%;
    margin-top: 3%;
    background-color: white;
    border-radius: 1em;
}

.landing {
    background-color: rgb(199, 225, 255);
}