* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    margin: 0 auto;
    padding: 5%;
    background-image: url('../Images/toda1.jpg'); 
    background-repeat: repeat; 
    background-attachment: scroll;
}

.landing-index {
    height: 75vh;
    padding: 5%;
    margin-top: 8vh;
    border-radius: 1em;
    background-color: rgba(255, 255, 255, 0.258);
    color: white;
    margin-top: 3%;
    border-radius: 1em;
}

.landing-dashboard {
    height: 75vh;
    padding: 5%;
    margin-top: 3%;
}

.landing-services {
    height: 75vh;
    padding: 5%;
    margin-top: 3%;
    background-color: white;
    border-radius: 1em;
}

.landing-about {
    height: 75vh;
    padding: 5%;
    margin-top: 3%;
    background-color: white;
    border-radius: 1em;
}

.landing-contact {
    height: 75vh;
    padding: 5%;
    margin-top: 3%;
    background-color: white;
    border-radius: 1em;
}

.landing-background {
    height: 100vh;
    border-radius: 1em;
}
