.main {
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    padding: 5%;
}

.login {
    height: 60vh;
    min-width: 300px;
    max-width: 40%;
    margin: 5% auto 5%;
    padding: 5%;
    background-color: #ffffff;
    border-radius: 2em;
}

.login h1 {
    text-align: center;
}

.login fieldset {
    display: flex;
    flex-direction: column;
    border: 0;
    margin: 5% auto;
}

.login label {
    font-size: 18px;
}

.login input, .login button {
    margin: 2% auto;
    width: 100%;
    height: 5vh;
}

.login button {
    max-width: 100px;
    border-radius: 1em;
    border: 0;
    cursor: pointer;
}