nav.navbar {
    margin: 0;
    position: relative;
}

.logo {
    width: 50px;
}

.navigation {
    height: auto;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    padding: 1% 2%;
    background-color: #020514;
    z-index: 999;
}

nav ul {
    height: inherit;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

nav li {
    list-style: none;
    color:#ffffff;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    color: rgb(168, 210, 244);
}

.hover {
    display: inline-block;
    position: relative;
    color:#ffffff;
    text-decoration: none;
    cursor: pointer;
}

.hover:hover {
    color: rgb(168, 210, 244);
}

.hover:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(168, 210, 244);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navigation button {
    border: 0;
    background-color: inherit;
    width: 5%;
}

.navigation i {
    padding: 0;
}


/* ********************navbar  */
.nav-item span {
    color: var(--cyan);
  }
  .nav-item > .hover {
    color: #fff;
    border-radius: 4px;
    padding: 7px 25px 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
    border: 2px solid var(--cyan);
  }
  
  .nav-item > .hover:hover {
    background: var(--cyan);
    color: #343a40;
  }
  
  @media (max-width: 992px) {
    .nav-item > .hover {
      padding: 7px 20px 8px 20px;
      margin-right: 15px;
    }
  }

  /* ********************endnavbar */