nav.navbar {
    margin: 0;
    position: relative;
}

.navigation {
    height: auto;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    padding: 1.5% 2em;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

nav ul {
    height: inherit;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

nav li {
    list-style: none;
    padding: 0 1em;
    color:#ffffff;

}

.hover {
    display: inline-block;
    position: relative;
    color:#ffffff;
    text-decoration: none;
    padding: 0;
}

.hover:hover {
    color: rgb(168, 210, 244);
}

.hover:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(168, 210, 244);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navigation button {
    border: 0;
    background-color: inherit;
    width: 5%;
}

.navigation i {
    padding: 0;
}